<header class='fixed-top'>
    <div class='container'>
        <div class='navigation js-navigation'>
            <a class="navigation__logo" href="/"><img alt="Beauty House" width="150" height="50" class="js-navigation-logo" src="/images/logo.jpeg"/>
            </a><div class='d-md-none navigation-mobile__logo js-navigation-logo-mobile'>
                <a href="/"><svg class="icon"><use xlink:href="/images/logo.jpeg#icon-wecasa"></use></svg>
                </a><div class='d-md-none navigation-mobile__text-button js-navigation-mobile-text-button'>Beauty House</div>
            </div>
            <nav class='navigation-main__container' id='js-navigation-main'>
                <ul class='navigation-main'>
                    <div class='d-md-none' id='js-mobile-navigation-close'>
<span class='mobile-navigation__close-btn'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-no"></use></svg>
Fermer
</span>
                    </div>
                    <div class='d-md-none' id='js-mobile-navigation-next'>
<span class='mobile-navigation__next-btn'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-arrow-down"></use></svg>
</span>
                    </div>


                    <div class='d-md-none' id='js-mobile-navigation-prev'>
<span class='mobile-navigation__prev-btn'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-arrow-down"></use></svg>
</span>
                    </div>







                    <li class='navigation-main__item'>
<span class='navigation-main__link d-md-none'>
<div class='navigation-main__icon'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-universe-haircut"></use></svg>
</div>
Coiffure femme
</span>
                        <a class="navigation-main__link d-none d-md-flex" href="#">Coiffure femme</a>
                        <div class='mega-menu mega-menu--haircut'>
                            <ul class='container mega-menu__list row'>
                                <li class='mega-menu__booking col'>
                                    <img srcset="https://aoutnziken.cloudimg.io/fit/170x190/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 1x,https://aoutnziken.cloudimg.io/fit/340x380/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 2x,https://aoutnziken.cloudimg.io/fit/510x570/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 3x" src="../storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png"/>
                                    <a class="btn btn-primary btn-lg" href="/reser">Réserver&nbsp;
                                        <span class='d-md-none'>ma coiffure</span>
                                    </a></li>
                                <li class='mega-menu__prestations col'>
<span class='mega-menu__sub-title'>
Nos Prestations&nbsp;
<span class='d-md-none'>Coiffure</span>
</span>
                                    <ul class='mega-menu__sub-list'>
                                        <li class='mega-menu__sub-item'><a href="/reser">Rasta</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Passe Mèche</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Chignon</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Greffe Lace</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Dreadlocks</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Tissage</a></li>

                                    </ul>
                                </li>




                            </ul>
                        </div>

                    </li>




                    <li class='navigation-main__item'>
<span class='navigation-main__link d-md-none'>
<div class='navigation-main__icon'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-universe-haircut"></use></svg>
</div>
Coiffure Homme
</span>
                        <a class="navigation-main__link d-none d-md-flex" href="#">Coiffure Homme</a>
                        <div class='mega-menu mega-menu--haircut'>
                            <ul class='container mega-menu__list row'>
                                <li class='mega-menu__booking col'>
                                    <img srcset="https://aoutnziken.cloudimg.io/fit/170x190/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 1x,https://aoutnziken.cloudimg.io/fit/340x380/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 2x,https://aoutnziken.cloudimg.io/fit/510x570/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 3x" src="../storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png"/>
                                    <a class="btn btn-primary btn-lg" href="/reser">Réserver&nbsp;
                                        <span class='d-md-none'>ma coiffure</span>
                                    </a></li>
                                <li class='mega-menu__prestations col'>
<span class='mega-menu__sub-title'>
Nos Prestations&nbsp;
<span class='d-md-none'>Coiffure</span>
</span>
                                    <ul class='mega-menu__sub-list'>
                                        <li class='mega-menu__sub-item'><a href="#"></a></li>
                                        <li class='mega-menu__sub-item'><a href="#"></a></li>
                                        <li class='mega-menu__sub-item'><a href="#"></a></li>

                                    </ul>
                                </li>




                            </ul>
                        </div>

                    </li>



                    <li class='navigation-main__item'>
<span class='navigation-main__link d-md-none'>
<div class='navigation-main__icon'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-universe-haircut"></use></svg>
</div>
Coiffure Enfant
</span>
                        <a class="navigation-main__link d-none d-md-flex" href="#">Coiffure Enfant</a>
                        <div class='mega-menu mega-menu--haircut'>
                            <ul class='container mega-menu__list row'>
                                <li class='mega-menu__booking col'>
                                    <img srcset="https://aoutnziken.cloudimg.io/fit/170x190/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 1x,https://aoutnziken.cloudimg.io/fit/340x380/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 2x,https://aoutnziken.cloudimg.io/fit/510x570/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 3x" src="../storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png"/>
                                    <a class="btn btn-primary btn-lg" href="/reser">Réserver&nbsp;
                                        <span class='d-md-none'>ma coiffure</span>
                                    </a></li>
                                <li class='mega-menu__prestations col'>
<span class='mega-menu__sub-title'>
Nos Prestations&nbsp;
<span class='d-md-none'>Coiffure</span>
</span>
                                    <ul class='mega-menu__sub-list'>
                                        <li class='mega-menu__sub-item'><a href="#"></a></li>
                                        <li class='mega-menu__sub-item'><a href="#"></a></li>
                                        <li class='mega-menu__sub-item'><a href="#"></a></li>

                                    </ul>
                                </li>




                            </ul>
                        </div>

                    </li>













                    <li class='navigation-main__item'>
<span class='navigation-main__link d-md-none'>
<div class='navigation-main__icon'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-universe-haircut"></use></svg>
</div>
Villes Disponibles
</span>
                        <a class="navigation-main__link d-none d-md-flex" href="#">Nos villes</a>
                        <div class='mega-menu mega-menu--haircut'>
                            <ul class='container mega-menu__list row'>
                                <li class='mega-menu__booking col'>
                                    <img srcset="https://aoutnziken.cloudimg.io/fit/170x190/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 1x,https://aoutnziken.cloudimg.io/fit/340x380/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 2x,https://aoutnziken.cloudimg.io/fit/510x570/cFFFFFF/https://storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png 3x" src="../storage.googleapis.com/wecasa-prod-assets/images/navigation/haircut.png"/>
                                    <a class="btn btn-primary btn-lg" href="/reser">Réserver&nbsp;
                                        <span class='d-md-none'>ma coiffure</span>
                                    </a></li>

                                <li class='mega-menu__prestations col'>
                                    <span class='mega-menu__sub-title'>Nos villes</span>
                                    <ul class='float-left js-mega-menu__sub-list--haircut mega-menu__sub-list mega-menu__sub-list--cities w-50'>
                                        <li class='mega-menu__sub-item'><a href="/reser">Yaoundé</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Douala</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Buea</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Kribi</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Bafoussam</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Bertoua</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Maroua</a></li>
                                        <li class='mega-menu__sub-item'><a href="/reser">Ngaoundere</a></li>


                                    </ul>
                                    <ul class='mega-menu__sub-list mega-menu__sub-list--regions float-left w-50 pl-3'>
                                        <li class='d-md-none js-haircut-region mega-menu__sub-item mega-menu__sub-item--regions-title'></li>
                                        <li class='js-haircut-region mega-menu__sub-item'><a href="#"></a></li>

                                    </ul>
                                </li>


                                <li class='d-md-none'>
                                    <a class="mega-menu__sub-title" href="#">Devenir coiffeur Beauty House
                                    </a></li>
                            </ul>
                        </div>

                    </li>

























                    <li class='navigation-secondary__item navigation-secondary__item--gift'>
<span class='d-md-none'>
<div class='navigation-secondary__link'>
<div class='navigation-secondary__icon'>
<svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-gift"></use></svg>
</div>
Faire une reservation
</div>
</span>
                        <a class="navigation-secondary__link d-none d-md-block" href="/reser"><div class='navigation-secondary__icon'>
                                <svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-gift"></use></svg>
                            </div>
                            Faire une reservation
                        </a><div class='gift-menu d-md-none'>

                        </div>
                    </li>

                    <li class='navigation-secondary__item d-md-none'>
                        <a class="navigation-secondary__link init-zoho-chat" href="contact.html"><svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-chat"></use></svg>
                            contact
                        </a></li>
                    <li class='navigation-secondary__item d-md-none'>
                        <a class="navigation-secondary__link" href="/reser"><svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-pro"></use></svg>
                            Devenir professionnel Beauty House
                        </a></li>





                </ul>
            </nav>
            <ul class='navigation-mobile-secondary__list d-md-none'>
                <li class='navigation-mobile-secondary__item navigation-mobile-secondary__item--help-menu js-navigation-mobile-help-menu'>
                    <svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-question"></use></svg>
                </li>

            </ul>
            <div class='navigation-mobile-help-menu d-md-none'>
                <ul class='navigation-mobile-help-menu__list'>
                    <li class='navigation-mobile-help-menu__item'>
                        <a class="help-menu__link" href="/reser"><svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-question"></use></svg>
                            Reservation
                        </a></li>
                    <li class='navigation-mobile-help-menu__item'>
                        <a class="init-zoho-chat help-menu__link" href="https://wa.me/+237696704ok915/?text=Salut Beauty House j'ai besoin de vous s'il vous plait !"><svg class="icon"><use xlink:href="assets/svg/symbol-defs-f40f0923457c1728d0cdcd29f318326bd90dff211f062fbcc176048d7aa1c590.svg#icon-chat"></use></svg>
                            Démarrer un chat
                        </a></li>
                </ul>
            </div>

        </div>
        <div class='navigation-mobile d-md-none js-navigation-mobile'>
            <ul class='navigation-mobile__list'>
                <li class='navigation-mobile__item'><a href="/reser">Reservation</a></li>
                <li class='navigation-mobile__item'><a href="https://wa.me/+237696704ok915/?text=Salut Beauty House j'ai besoin de vous s'il vous plait !">Démarrer un chat</a></li>
                <li class='navigation-mobile__item'><a href="tel:+237657245881">Appellez Nous</a></li>

                <div class='js-navigation-mobile-mask navigation-mobile__mask js-navigation-mobile'></div>
            </ul>
        </div>

    </div>
</header>
