<!DOCTYPE html>
<html lang='fr'>


<%- include('partials/head'); -%>
<body class='gray-lighter-bg wecasa-home'>
<script>window.dataLayer=window.dataLayer||[];window.dataLayer.push({'contentGroup':"Home"});</script>

<!-- Google Tag Manager -->
<noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-5K64L9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5K64L9');</script>
<!-- End Google Tag Manager -->

<div class='padding-header'></div>

<%- include('partials/header'); -%>

<div class='cover-container'>
  <h1 class='pb-4'>
    <div class='part-2'>Un Clique pour</div>
    <div class='part-1'>l'excellence à domicile</div>
  </h1>
  <div class=' d-lg-block col-sm-12'>
    <div class='embed-responsive home-video'>
      <video autoplay="autoplay" playsinline="true" muted="muted" poster="assets/haircut/xcover-sm-md-lg-xl-a0f9a2447c9cd9cc9ad1f016956b3e4a69c7e641b65280badd4044a8e6e322a9.jpg.pagespeed.ic.Ygu0MaondT.jpg" src="assets/haircut/home_cover-1046a665156223137ce63631ba4c6f03ecafba0f96836a7e9fd72bad124df2d8.mp4"></video>
    </div>
  </div>
  <div class=' d-none  col-sm-12'>
      <div class='embed-responsive home-video col-xs-hidden'>
          <video autoplay="autoplay" playsinline="true" muted="muted" poster="assets/haircut/xcover-sm-md-lg-xl-a0f9a2447c9cd9cc9ad1f016956b3e4a69c7e641b65280badd4044a8e6e322a9.jpg.pagespeed.ic.Ygu0MaondT.jpg" src="assets/haircut/home_cover-1046a665156223137ce63631ba4c6f03ecafba0f96836a7e9fd72bad124df2d8.mp4"></video>
      </div>
  </div>
</div>




<div class='container'>
  <h2 class='mt-5 mb-3'>Qui sommes-nous ?</h2>
  <div class='row'>
    <div class='about-details col-md-6 col-sm-12'>
      <h3 class='about-details__title'>Notre mission : Faciliter votre beauté à Domicile</h3>
      <p class='about-details__content'>
        Le concept de Beauty House : vous permettre de réserver en deux clics une prestation de coiffure à domicile. Notre réseau de 100 professionnels sélectionnés à Yaoundé au Cameroun prend soin de vous.


        <b>chez vous avec talent et gentillesse.</b>
      </p>
      <p class='about-details__content'>
        Beauty House c'est votre réflexe Beauté à domicile !
      </p>

    </div>
    <div class='about-image col-md-6 col-sm-12'>
      <img class="img-fluid about-image__img" title="Équipe Beauty House" alt="L&#39;équipe Beauty House est réunie et pose dans ses locaux." src="/images/WhatsApp%20Image%202019-09-25%20at%2001.03.23.jpeg"/>
    </div>
  </div>
</div>



<div class='how-it-works-container pb-4'>
  <div class='container mt-5 mb-4'>
    <h2 class='mt-5 mb-3'>Comment ça marche ?</h2>
  </div>
  <div class='container px-0'>
    <div class='steps-and-video-container'>
      <div class='steps'>
        <div class='steps-row'>
          <div class='step'>
            <div class='step-image-container mb-3'>
              <img src="/images/fini/cameroun.png"/>
            </div>
            Réservez en
            <b>2 clics</b>
            <br>
            partout au
            <b>Cameroun</b>
          </div>
          <div class='step'>
            <div class='step-image-container mb-3'>
              <img src="/assets/wecasa/benefits/whenever-0babc52b8864899d6995d98b448744822e88b88bb2b31c4370846a7238adc3d2.png"/>
            </div>
            <b>Même au dernier</b>
            <br>
            <b>moment</b>
          </div>
          <div class='step'>
            <div class='step-image-container mb-3'>
              <img src="/assets/wecasa/benefits/selected-pros-03c39acca3ec09e1944ee1ca0356be280c2b06934cd2e1fd2882c98ab71399c7.png"/>
            </div>
            <span class='d-none d-md-inline-block'>
Professionnels
</span>
            <span class='d-md-none'>
Pros
</span>
            <b>sélectionnés</b>
            <br>
            et
            <b>notés</b>
          </div>
          <div class='step'>
            <a href="#reviews-container"><div class='step-image-container mb-3'>
                <img src="/assets/wecasa/benefits/great-reviews-6d47cf77a04e8aeddc486e98597c977c6b9d87c18e7ce89f2d06ae04ff2f23f9.png"/>
              </div>
              <b>
                4,8/5
                -
                1212
                avis
              </b>
              <br>
              Avis certifiés 
            </a></div>
        </div>
      </div>
      <div class='video'>
        <div class='youtube embed-responsive embed-responsive-16by9' data-embed='anirAhB5hCI'>
          <div class='youtube__play-button'></div>
        </div>
      </div>
    </div>
  </div>
 
</div>










<div class='about-jobs'>
  <div class='container'>
    <div class='row'>
      <div class='about-jobs__apply col-md-6'>
        <p>
          <b>Vous êtes passionné, debutant ou expérimentée dans le domaine de la coiffure Femmes/Hommes ? </b>
          Nos professionnels partenaires prennent soins de nos clients avec passion et en toute autonomie. 
          <br>
          Ils sont nos super-héros du quotidien.
        </p>
        <div class='row justify-content-center'>
          <div class='mt-3 p-0 col-8'>
            <div class='btn-dropdown btn-apply'>
              <div class='dropdown'>
                <button aria-expanded='false' aria-haspopup='true' class='btn btn-outline-white about-jobs__btn dropdown-toggle' data-toggle='dropdown' id='jobs-dropdown-menu' type='button'>
                  Postuler
                </button>
                <div aria-labelledby='jobs-dropdown-menu' class='dropdown-menu'>
                  <a class="dropdown-item" href="#">Comme coiffeur</a>
                  
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <h2 class='my-5 col-md-4 about-jobs__title'>Rejoignez-nous !</h2>
     
    </div>
  </div>
</div>

<div class='wecasa-experience pt-3'>
  <div class='container'>
    <h2 class='mt-5 mb-3'>L'expérience Beauty House</h2>
    <div class='row'>
      <div class='col-md-4 mt-5'>
        <div class='row justify-content-center'>
          <img class="img-fluid wecasa-experience__image" title="Cible et flèche dessinées" alt="Une flèche orange est plantée dans une cible" src="/assets/home/arrow-target-b11c7e3070224b173939bd46ce365fc5f93e1447424439aee21beb7c8623b3d8.svg"/>
        </div>
        <div class='wecasa-experience__description'>
          <h3 class='my-3'>SIMPLICITÉ</h3>
          <p>
            C’est vous qui choisissez votre prestation, vos horaires, le lieu et la date. Vous réservez en deux clics, et le paiement est effectué après la prestation par Mobile Money, Carte Bancaire ou Paypal.
          </p>
        </div>
      </div>
      <div class='col-md-4 mt-5'>
        <div class='row justify-content-center'>
          <img class="img-fluid wecasa-experience__image" title="Coeur dessiné" alt="Un coeur dessiné et pétillant aux couleurs de wecasa" src="/assets/home/heart-ece755d47d68eaccfadc1d31b16c8242151343894fdc4bd7947704e211927c31.svg"/>
        </div>
        <div class='wecasa-experience__description'>
          <h3 class='my-3'>Humaine</h3>
          <p>
            Nous mettons le numérique au service des femmes et des hommes. Créer un lien de confiance entre nos professionnels partenaires et nos clients est une motivation quotidienne.
          </p>
        </div>
      </div>
      <div class='col-md-4 mt-5'>
        <div class='row justify-content-center'>
          <img class="img-fluid wecasa-experience__image" title="Noeud papillon dessiné" alt="Un noeud papillon dessiné de couleur orange" src="/assets/home/butterfly-costume-f304a43b4f12001c9df620e8faa9aa23eab3ec509cfa213f535119bd8a60b201.svg"/>
        </div>
        <div class='wecasa-experience__description'>
          <h3 class='my-3'>DÉTENDEZ-VOUS</h3>
          <p>
            De la réservation jusqu’au suivi de votre satisfaction, l’équipe Beauty House prends soins de vous de A à Z. À ce jour, nos clients nous notent 4/5 en moyenne. Nos professionnels sont triés avec précisions, et notre service client est aux petits soins. 
          </p>
        </div>
      </div>
    </div>
    <div class='btn-container btn-dropdown btn-discover-universes py-3'>
      <div class='dropdown'>
        <a href="/reser" aria-expanded='false' aria-haspopup='true' class='btn btn-primary dropdown-toggle'  id='universes-dropdown-menu' type='button'>
          EFFECTUER VOTRE PREMIÈRE RÉSERVATION GRATUITE !
        </a>
        
      </div>
    </div>

  </div>
</div>

<div class='container-fluid' id='reviews-container'>
  <div class='container'>
    <div class='row mb-4 d-none d-lg-flex'>
      <div class='col-md-2 offset-md-3'>
        <div class='rate text-center'>
          <div class='rate-content'>
<span class='big-rate'>
4,8
</span>
            /5
            <br>
            12012
            avis
            <br>
          </div>
          <div class='big-stars'>
            <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
          </div>
          <a target="_blank" rel="noopener" href="#"><div class='row'>
              <div class='col-md-3 offset-md-2 no-padding-col'>
                <img class="img-fluid" src="/assets/wecasa/xekomi-logo-df5024074001a022d68ae70735bf655920603a41270dcbb824897c5d3c68efa1.png.pagespeed.ic.wUjWdSGPme.png"/>
              </div>
              <div class='col-md-6 no-padding-col'>
                <div class='ekomi-label'>
                  Avis certifiés
                  <br>
                 
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class='col-md-1 my-4 closing-brace'>
        <img class="img-fluid" src="/assets/wecasa/xclosing_brace-c332f209460d67909b2af0f1c9e0fda0416a18b80766adb8bda2e9512503b9a3.png.pagespeed.ic.Fk8BGzdc0h.png"/>
      </div>
      <div class='col-md-3 my-5'>
        <div class='row'>
          <div class='col-4 level'>
            Positif
          </div>
          <div class='col-4 percentage positive text-right'>
            <div class='fa fa-plus-circle'></div>
          </div>
          <div class='col-4 percentage positive text-right'>
            95,7%
          </div>
        </div>
        <div class='row'>
          <div class='col-4 level'>
            Neutre
          </div>
          <div class='col-4 neutral percentage text-right'>
            <div class='fa fa-dot-circle-o'></div>
          </div>
          <div class='col-4 neutral percentage text-right'>
            3,3%
          </div>
        </div>
        <div class='row'>
          <div class='col-4 level'>
            Négatif
          </div>
          <div class='col-4 negative percentage text-right'>
            <div class='fa fa-minus-circle'></div>
          </div>
          <div class='col-4 negative percentage text-right'>
            1,0%
          </div>
        </div>

      </div>
    </div>
    <div class='row mb-4 d-lg-none justify-content-center'>
      <div class='col-3 no-padding-col'>
        <div class='text-center ekomi-label'>
          Avis certifiés
          <br>
          par eKomi
          <br>
          <img class="img-fluid" src="/assets/wecasa/xekomi-logo-df5024074001a022d68ae70735bf655920603a41270dcbb824897c5d3c68efa1.png.pagespeed.ic.wUjWdSGPme.png"/>
        </div>
      </div>
      <div class='col-6'>
        <div class='rate pull-left'>
          <div>
            4,8/5 -
            28 124
            avis
          </div>
          <div class='big-stars ml-0'>
            <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
          </div>
        </div>
      </div>
      <div class='col-9 mt-4'>
        <div class='row'>
          <div class='col-4 level'>
            Positif
          </div>
          <div class='col-4 percentage positive text-right'>
            <div class='fa fa-plus-circle'></div>
          </div>
          <div class='col-4 percentage positive text-right'>
            95,7%
          </div>
        </div>
        <div class='row'>
          <div class='col-4 level'>
            Neutre
          </div>
          <div class='col-4 neutral percentage text-right'>
            <div class='fa fa-dot-circle-o'></div>
          </div>
          <div class='col-4 neutral percentage text-right'>
            3,3%
          </div>
        </div>
        <div class='row'>
          <div class='col-4 level'>
            Négatif
          </div>
          <div class='col-4 negative percentage text-right'>
            <div class='fa fa-minus-circle'></div>
          </div>
          <div class='col-4 negative percentage text-right'>
            1,0%
          </div>
        </div>

      </div>
    </div>
    <div id='reviews'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='review-header'>
            <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
            <span class='review-rating'>
5/5
</span>
Stella, Bastos le 26/09/2019
          </div>
          <div class='review'>Une coiffeuse souriante, très sympathique qui m'as réalisé une belle greffe à un prix très abordable pour la qualité du service.</div>
        </div>
        <div class='col-md-6 d-md-block d-none'>
          <div class='review-header'>
            <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
            <span class='review-rating'>
5/5
</span>
Sandra, Tsinga le 26/09/2019
          </div>
          <div class='review'>Le professionnalisme de la coiffeuse, et les conseils pertinent qu'elle fournis prouve le sérieux de la sélection des coiffeuses.</div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='review-header review-with-top'>
            <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
            <span class='review-rating'>
5/5
</span>
Aude, Cité Verte le 228/09/2019
          </div>
          <div class='review'>Ma mère ne sait pas utiliser Internet, mais assure s'acheter un smartphone pour continuer à utiliser le service. Très bon boulot!</div>
        </div>
        <div class='col-md-6 d-md-block d-none'>
          <div class='review-header review-with-top'>
            <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
            <span class='review-rating'>
5/5
</span>
Marie, Odza le 02/10/2019
          </div>
          <div class='review'>Enfin un service au 237 simple et efficace pour se coiffer à domicile. Continuer !

            Merci beaucoup , je n’hesiterai pas a solliciter de nouveau ses services</div>
        </div>
      </div>
      
     
      
      <div class='hidden' id='next-review-row'></div>
    </div>
    <div class='text-center py-4'>
     
    </div>
  </div>
</div>

<div class='container-fluid social-medias-container'>
  <div class='container'>
    <h2 class='inverted mt-4 mb-5'>
      <div class='intro'>
        Envie d'inspiration ?
      </div>
      Suivez-nous !
    </h2>
    <div class='row'>
      <div class='col-md-6 mb-3'>
        <div class='card'>
          <ul class='list-group list-group-flush'>
            <li class='list-group-item'>
              <a class="btn btn-primary pull-right" target="_blank" rel="noopener" href="https://www.facebook.com/myhome237/">Aimer</a>
              <h4 class='blog-title'>
                Sur Facebook
              </h4>
              <div class='clearfix'></div>
            </li>
            <li class='list-group-item px-0 pt-0'>
              <script async src='../connect.facebook.net/fr_FR/sdk.js'></script>
              <script>window.fbAsyncInit=function(){FB.init({appId:'144038752776396',autoLogAppEvents:true,xfbml:true,version:'v2.12'});};</script>
              <div class='fb-page' data-adapt-container-width data-height='508' data-href='https://www.facebook.com/Beauty House237/' data-small-header='false' data-tabs='timeline'></div>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-md-6 mb-3'>
        <div class='card'>
          <ul class='list-group list-group-flush'>
            <li class='list-group-item'>
              <a class="btn btn-primary pull-right" target="_blank" rel="noopener" href="https://www.instagram.com/beautyhouse237/">Suivre</a>
              <h4 class='blog-title'>
                Sur Instagram
              </h4>
              <div class='clearfix'></div>
            </li>
            <li class='list-group-item px-0 pt-0'>
              <blockquote class='instagram-media' data-instgrm-permalink='https://www.instagram.com/p/B26fV5bFwgM/' data-instgrm-version='8'></blockquote>
              <script async defer src='../www.instagram.com/static/bundles/metro/EmbedSDK.js/43531caab721.js'></script>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class='mobile-app-container'>
  <div class='container'>
    <h2 class='mb-4'>
      <div class='intro'>
        Toujours dans votre poche avec
      </div>
      L'appli mobile !
    </h2>
    <div class='row'>
      <div class='col-lg-5 col-md-4 order-md-3'>
        <p class='mt-4'>
          <a class="mobile-app-link" href="appli-mobile.html">1ère réservation sur Beauty House ? Client régulier ? L'appli vous facilite la vie : réservez en 2 clics, retrouvez les détails de votre réservation, réservez de nouveau le même professionnel...
          </a></p>
      </div>
      <div class='col-lg-2 col-md-4 col-6 order-md-2'>
        <div class='mt-4 text-center'>
          <a target="_blank" rel="noopener" href="https://itunes.apple.com/app/apple-store/id1339647526?pt=118836211&amp;ct=haircut-landing&amp;mt=8"><img class="store-badge" alt="Télécharger sur l&#39;App Store" src="/assets/wecasa/apple_store_badge-86b6a05f6c8ac9e9a0637edf4f15420d06c8c7bc69662792a46793c1f948b023.svg"/>
          </a><a target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=com.wecasa"><img class="store-badge" alt="Télécharger sur Google Play" src="/assets/wecasa/xgoogle_play_badge-f404a1629be5a732995c17c70b7bc1c5b4d1a630c9bcfae83e5ab1dfecfddae3.png.pagespeed.ic.kdOfP-QQCI.png"/>
          </a></div>
      </div>
      <div class='col-lg-5 col-md-4 col-6 order-md-1 text-md-right'>
        <a href="appli-mobile.html"><img class="img-mobiles img-fluid" title="Application Beauty House pour iOS et Android" alt="2 mobiles Apple et Android avec l&#39;application Wecasa" src="/images/fini/image%201.png"/>
        </a></div>
    </div>
  </div>
</div>








<footer class='container-fluid darkdark pb-3'>
  <div class='container'>
    
    <div class='row social text-center'>
      <div class='col-lg-6'>
        <h3>Appli mobile</h3>
        <div class='row'>
          <div class='col-sm-6'>
            <a target="_blank" rel="noopener" href="https://itunes.apple.com/app/apple-store/id1339647526?pt=118836211&amp;ct=website-footer&amp;mt=8"><img class="store-badge my-3" src="/assets/wecasa/apple_store_badge-86b6a05f6c8ac9e9a0637edf4f15420d06c8c7bc69662792a46793c1f948b023.svg"/>
            </a></div>
          <div class='col-sm-6'>
            <a target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=com.wecasa"><img class="store-badge my-3" src="/assets/wecasa/xgoogle_play_badge-f404a1629be5a732995c17c70b7bc1c5b4d1a630c9bcfae83e5ab1dfecfddae3.png.pagespeed.ic.kdOfP-QQCI.png"/>
            </a></div>
        </div>
      </div>
      <div class='col-lg-6'>
        <h3>Suivez-nous</h3>
        <div class='row footer-icons'>
          <div class='col-4 text-md-center'>
            <a class="nav-link" target="_blank" rel="noopener" href="#"><span class='footer-icon footer-icon--facebook mr-0'></span>
              <br>Facebook</br>
            </a></div>
          <div class='col-4 text-md-center'>
            <a class="nav-link" target="_blank" rel="noopener" href="#"><span class='footer-icon footer-icon--twitter mr-0'></span>
              <br>Twitter</br>
            </a></div>
          <div class='col-4 text-md-center'>
            <a class="nav-link" target="_blank" rel="noopener" href="#"><span class='footer-icon footer-icon--instagram mr-0'></span>
              <br>Instagram</br>
            </a></div>
        </div>
      </div>
    </div>
    <p class='mb-0 text-center' itemscope='' itemtype='http://data-vocabulary.org/Review-aggregate'>
      <span itemprop='itemreviewed'>Note Beauty House</span>
      (<span itemprop='votes'>1212</span> avis)
      :
      <span itemprop='rating' itemscope='' itemtype='http://data-vocabulary.org/Rating'>
<b itemprop='average'>4,8</b>
/
<span itemprop='best'>5</span>
</span>
    </p>
  </div>
</footer>



<script src="/assets/application-2b3d9212ed81c59b80e3fd8688c66a81689ddd74b45fcfea381715f2ad6b5663.js"></script>

</body>

<!-- Mirrored from www.wecasa.fr/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Sep 2019 17:09:11 GMT -->
</html>

